<!-- Modal -->
<div class="modal fade" id="sceltaEffettuata" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Dati della tipologia:</h4>
			</div>
			<div class="modal-body">
				<p>La clinica mette a disposizione la visita da lei selezionata.
					Di seguito sono riportate informazioni utili su essa:</p>
				<dl class="dl-horizontal">
					<div
						ng-repeat="(key,value) in tipologieCtrl.tipologia" ng-if="key!='id'">
						<dt class="first-letter-capital">{{key}}</dt>
						<dd>{{value}}<span ng-if="key=='costo'">€</span></dd>
					</div>
				</dl>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Indietro</button>

			</div>
		</div>
	</div>
</div>