<div class="row">
	<div class="col-md-12">
		<h4>Dati della Tipologia:</h4>
		<dl class="dl-horizontal">
			<dt>Nome</dt>
			<dd>{{consultazioneTipologieEsamiOffertiCtrl.tipologia.nome}}</dd>
			<dt>Descrizione</dt>
			<dd>{{consultazioneTipologieEsamiOffertiCtrl.tipologia.descrizione}}</dd>
			<dt>Costo Esame</dt>
			<dd>
				{{consultazioneTipologieEsamiOffertiCtrl.tipologia.costo}}</dd>
			<dt>Norme di preparazione</dt>
			<dd>
				{{consultazioneTipologieEsamiOffertiCtrl.tipologia.normeDiPreparazione}}</dd>
			<dt>Indicatori di risultato</dt>
			<dd>
				{{consultazioneTipologieEsamiOffertiCtrl.tipologia.indicatoriDiRisultato}}</dd>
		</dl>
	</div>
</div>