
<!-- Modal -->
<div class="modal fade" id="inserimentoNormaDiPreparazione"
	tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Raccolta dati nuova
					norma di preparazione</h4>
			</div>
			<div class="modal-body">
				<p>Controlla attentamente i dati immessi. Una volta premuto il
					pulsante "Inserisci" la norma di preparazione verrà memorizzata nel
					Sistema.</p>

				<div class="row">
				<input type="text"
					ng-model="inserimentoTipologiaEsameCtrl.nomeNuovaNormaDiPreparazione"
					placeholder="Inserisci il nome...">
				</div>
				<div class="row">
				<textarea
					ng-model="inserimentoTipologiaEsameCtrl.descrizioneNuovaNormaDiPreparazione"
					placeholder="Inserisci la descrizione..."></textarea>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
					<button type="button" class="btn btn-primary"
						ng-click="inserimentoTipologiaEsameCtrl.inserisciNormaDiPreparazione()">
						Inserisci</button>
				</div>
			</div>
		</div>
	</div>
</div>

