<h2>Prenotazione</h2>
<form name="inserimentoPrenotazione"
	ng-submit="inserimentoPrenotazioneCtrl.aggiungiPrenotazione()">
	<!--TROVA PAZIENTE  -->
	<form name="trovaPaziente" class="form-inline"
		ng-submit="inserimentoPrenotazioneCtrl.trovaPaziente()">
		<div class="row">
			<div class="col-md-12">
				<h4>Paziente</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9 col-xs-8">
				<input ng-model="inserimentoPrenotazioneCtrl.codiceFiscalePaziente"
					name="codiceFiscale" type="text" class="form-control"
					id="codiceFiscale"
					placeholder="Inserisci il codice fiscale del paziente">
			</div>
			<div class="col-md-3 col-xs-4">
				<button type="submit" class="btn btn-default">Trova
					Paziente</button>
			</div>
		</div>
	</form>
	<div
		ng-show="inserimentoPrenotazioneCtrl.hoProvato && !inserimentoPrenotazioneCtrl.paziente.nome"
		id="pazienteNonTrovato">
		<strong>Attenzione il paziente non è stato trovato!</strong>
	</div>

	<div ng-show="inserimentoPrenotazioneCtrl.paziente.nome"
		id="datiPaziente" ng-include="templates/datiPaziente.html"></div>

	<!--SELEZIONA MEDICO  -->
	<div id="mediciContainer" ng-include="'templates/selezionaMedico.html'"></div>
	<!--SELEZIONA TIPOLOGIA -->
	<div ng-include="'templates/selezionaTipologia.html'"
		id="tipologiaContainer"></div>
	<!--SELEZIONA DATA -->
	<h4>Data Esame</h4>
	<input type="date" name="dataEsame" placeholder="Inserisci la data..."
		ng-model="inserimentoPrenotazioneCtrl.dataEsame">

	<!-- Live preview -->
	<div id="prenotazioneInserita"
		ng-include="'templates/previewPrenotazione.html'"></div>

	<button type="submit" class="btn btn-primary btn-lg btn-block">Inserisci
		prenotazione</button>
</form>
