
<div class="row">
	<div class="col-md-2 col-xs-4">
		<h4>Norme</h4>
	</div>
	<div class="col-md-5 col-xs-8">
		<input type="text" ng-model="normaCtrl.searchNorme"
			class="form-control" id="projects_search"
			placeholder="Cerca norma...">
	</div>
	<div class="col-md-5 col-xs-8">
		<button type="button" class="btn btn-primary-outline btn-block"
			data-toggle="modal" data-target="#inserimentoNorma">Vuoi
			inserire una nuova norma?</button>
	</div>
</div>
<div id="normeContainer">

	<div class="checkbox"
		ng-repeat="norma in normaCtrl.norme | filter:normaCtrl.searchNorme | orderBy:'nome'"
		title="norma" name="norma">
		<label><input type="checkbox"
			ng-checked="inserimentoTipologiaEsameCtrl.isNormaChecked(norma.nome)"
			ng-click="inserimentoTipologiaEsameCtrl.changedStatusNorme($event,norma)"
			value=""> {{norma.nome}}</label>
	</div>
</div>
<div ng-include="'templates/inserisciNorma.html'"></div>