
<header class="business-header">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="tagline">I nostri medici</h1>
			<img class="img-responsive"
				src="Assets/img/prova.jpg" alt="">
			</div>
		</div>
	</div>
</header>

<!-- Page Content -->
<div class="container">

	<hr>

	<div class="row">
		<div class="col-sm-8">
			<h2>Cosa facciamo:</h2>
			<p>Introduce the visitor to the business using clear, informative
				text. Use well-targeted keywords within your sentences to make sure
				search engines can find the business.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et
				molestiae similique eligendi reiciendis sunt distinctio odit? Quia,
				neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste
				exercitationem nemo voluptates asperiores.</p>

		</div>
		<div class="col-sm-4">
			<h2>Contattaci:</h2>

			<strong>Progetto GitHub</strong> <br>Sistemi Informatvi su Web <br>A.A.
			2015/2016 <br> <br> <a
				href="https://github.com/AldoFabiani/teaching-hospital-web">https://github.com/AldoFabiani/teaching-hospital-web</a>
		</div>
	</div>
	<!-- /.row -->

	<hr>

	<div class="row">
		<div class="col-sm-4">
			<img class="img-circle img-responsive img-volti"
				src="Assets/img/1.jpg" alt="">
			<h2 class="text-center">Davide Orlando</h2>
			<p>These marketing boxes are a great place to put some
				information. These can contain summaries of what the company does,
				promotional information, or anything else that is relevant to the
				company. These will usually be below-the-fold.</p>
		</div>
		<div class="col-sm-4">
			<img class="img-circle img-responsive img-volti"
				src="Assets/img/2.jpg" alt="">
			<h2 class="text-center">Aldo Fabiani</h2>
			<p>The images are set to be circular and responsive. Fusce
				dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
				ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
				magna mollis euismod. Donec sed odio dui.</p>
		</div>
		<div class="col-sm-4">
			<img class="img-circle img-responsive img-volti"
				src="Assets/img/3.jpg" alt="">
			<h2 class="text-center">Ciro Oliviero</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce
				dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
				ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
				magna mollis euismod. Donec sed odio dui.</p>
		</div>
	</div>
	<!-- /.row -->

	<hr>

</div>

