
<header class="business-header">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="tagline">I nostri medici</h1>
			<img class="img-responsive"
				src="Assets/img/prova.jpg" alt="">
			</div>
		</div>
	</div>
</header>

<!-- Page Content -->
<div class="container">

	<hr>

	<div class="row">
		<div class="col-sm-8">
			<h2>Cosa facciamo:</h2>
			<p>Siamo studenti di Ingegneria Informatica frequentanti il corso di Sistemi Informativi sul Web dell'anno
			2015/2016.</p>
			<p>Stiamo mettendo alla prova le competenze apprese nel corso grazie all'uso di tecnologie come SpringMVC, 
			AngularJS, OpenJPA con l'utilizzo di Bootstrap al fine di rendere il tutto più accattivante.</p>

		</div>
		<div class="col-sm-4">
			<h2>Contattaci:</h2>

			<strong>Progetto GitHub</strong> <br>Sistemi Informatvi su Web <br>A.A.
			2015/2016 <br> <br> <a
				href="https://github.com/AldoFabiani/teaching-hospital-web">https://github.com/AldoFabiani/teaching-hospital-web</a>
		</div>
	</div>
	<!-- /.row -->

	<hr>

	<div class="row">
		<div class="col-sm-4">
			<img class="img-circle img-responsive img-volti"
				src="Assets/img/1.jpg" alt="">
			<h2 class="text-center">Davide Orlando</h2>
			<p>Studente di Ingegneria Informatica immatricolato nell'anno 2013/2014.</p>
		</div>
		<div class="col-sm-4">
			<img class="img-circle img-responsive img-volti"
				src="Assets/img/2.jpg" alt="">
			<h2 class="text-center">Aldo Fabiani</h2>
			<p>Studente di Ingegneria Informatica immatricolato nell'anno 2013/2014.</p>
		</div>
		<div class="col-sm-4">
			<img class="img-circle img-responsive img-volti"
				src="Assets/img/3.jpg" alt="">
			<h2 class="text-center">Ciro Oliviero</h2>
			<p>Studente di Ingegneria Informatica immatricolato nell'anno 2013/2014.</p>
		</div>
	</div>
	<!-- /.row -->

	<hr>

</div>

