<div class="row">

	<script src="js/listgroup.min.js"></script>
	<div class="col-md-2 col-xs-4">
		<h4>Tipologia</h4>
	</div>
	<div class="col-md-offset-7 col-md-3 col-xs-8">
		<input type="text" ng-model="tipologia.search" class="form-control"
			id="projects_search" placeholder="Inserisci il nome...">
	</div>
</div>
<div id="tipologieContainer">
	<div class="list-group">
		<span
			ng-repeat="tipologia in tipologie.tipologie | filter:tipologie.search | orderBy:'nome'"
			title="tipologia" name="tipologia"
			ng-click="inserimentoCtrl.addTipologia(tipologia)"
			class="list-group-item">{{tipologia.nome}} {{tipologia.costo | currency}}</span>
	</div>
</div>


