@CHARSET "UTF-8";

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	overflow-x: hidden;
}

h2 {
	font-size: 1.8em;
	text-transform: uppercase;
	color: #606060;
	margin-bottom: 25px;
}

input#codiceFiscale {
	width: 100%;
	margin-right: 10px;
}

dt {
	text-align: left !important;
}

#mediciContainer .list-group , #tipologieContainer .list-group {
	overflow: scroll;
	height: 150px;
	cursor: pointer;
}

.specializzazione {
	text-align: right;
}